h1 {
    color: #a67c00;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 30px;
}


a:link {
    color: #00CCD6;
    text-decoration: none;
}

a:visited {
    color: #00CCD6;
    text-decoration: none;

}

a:hover {
    color: black;
}

body {
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}s

article {
    margin-top: 50px;
    min-height: 100%;
    position: relative;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
