h1 {
    color: black;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 7em;
}

a {
    background-color: #424242;
    width: 250px;
    border: none;
    color: #FFF;
    font-family: "Amatic SC", cursive;
    padding: 15px 32px;
    border: 1px solid #424242;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 3em 1em 3em 1em;
}

a:hover {
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    border: 1px solid #a67c00;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .42;
    -o-transition-duration: .4s;
    color: #00CCD6;
    font-family: "Amatic SC", cursive;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 3em 1em 3em 1em;
}

div {
    min-height: 100%;
    
}

body {
    background-color: #3B6287;
    background: linear-gradient (left top, #3B6287, white);
    background: -webkit-linear-gradient( left top, #3B6287, white);
    height: 100%;
}


footer {
    font-size: .7em;
    text-align: center;
}
