*{
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: 100%;
    background-color: #EFEFEF;
}

nav {
    background-color: #424242;
    padding-bottom: .75em;
    padding-top: .75em;
    opacity: .9
}

.current-page {
    color: 	#a67c00;
    text-decoration: none;
    font-size: 1em;
}

.nav-links:link {
    color: #FFF;
    text-decoration:none;
}

.nav-links:visited {
    color: #fff;
    text-decoration:none;
}

.nav-links:hover {
    color: #00CCD6;
}

.links1 {
    text-align: center;
}


li {
    list-style: none;
    display: inline;
    padding-left: 3em;
    padding-right: 3em;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
}

article {
    background-color: #EFEFEF;
    padding-bottom: 20px;
    margin: auto;
    max-width: 1150px;
    min-height: 100%;
    display: flex;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

h1 {
    color: #a67c00;
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    float: none;
    margin-top: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 1.5em;
    padding: 20px;
    padding-left: 40px;
    text-align: left;
}

figure {
    flex: 1;
}

img {
    height: 400px;
}

p {
    flex: 2;
    width: 850px;
    padding-top: 30px;
}


/*IPHONE*/
@media only screen and (min-width: 300px) and (max-width: 450px) {

    body {
        width: 100%;
    }
    
    article {
        width: 100%;
        display: block;
    }
    
    figure {
        display: block;
        text-align: center;
    }
    
    p {
        width: 85%;
        padding-left: 10px;
    }
    
    #footer {
        position: relative;
        text-align: center;
    }
    
    

}

/*ipad*/
@media only screen and (min-width:450px) and (max-width: 700px) {
    
    article {
        width: 100%;
        display: block;
    }

    
    figure {
        display: block;
        text-align: center;
    }
    
    p {
        width: 85%;
        padding-left: 10px;
        
    }
    
    #footer {
        position: relative;
        text-align: center;
    }
}
